.footer img{
    
    margin-left:20px;
    filter:invert(0.7);
    
}
.footer img:hover{
    transform: scale(1.1);
    filter:invert(1);
}
.footer{
    font-size: 20px;
    margin:0;
    padding:0;
}