/*remember that shit bruh*/
/* :root{
    --mainColor:#303841;
    --hoverColor: #3A4750;
    --borderColor: #00ADB5;
    --fontColor: #D1D4C9;
    font-family: "Century Gothic", sans-serif;
} */


body{
    margin-top:0;
    padding:0;
}
#navbar {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    background-color:var(--hoverColor);
}

.nav-links {
    text-decoration: none;
    font-size: 20px;
    color: var(--fontColor);
    padding: 13px;
    border: 2px solid white;
    border-radius: 15px;
}

.nav-links:hover {
    background-color: var(--mainColor);
    
}

.Welcome {
    padding-left: 3%;
    font-size: 40px;
    margin-top: 5%;
}

.description {
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
}
#borger{
    color:var(--fontColor);
    background-color:var(--mainColor);
    font-size: 20px;
    border-radius:15px;
}
@media screen and (max-width:760px){
    #borger{
        display:none;
    }
}
